.env
.venv/
test.py

# should be safe to commit bot.db due to encryption
qtrade-tradebot/bot.db

qtrade-tradebot/secrets
qtrade-tradebot/secrets/*

__pycache__
__pycache__/*
*/__pycache__/*


bot-testing*
bot.db

google_quickstart

.vscode